.brand {
  margin-top: 79px;
  &-inner {
    display: flex;
    justify-content: space-between;
    &__text {
      width: 594px;
      margin-right: 83px;
      h2 {
        font-size: 45px;
        line-height: 50px;
        @extend %int-eb;
        color: $c600;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        line-height: 20px;
        color: $c600;
        @extend %int-r;
      }
    }
    &__img {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-self: center;
        gap: 20px;
        li {
          display: flex;
          justify-content: flex-end;
          // overflow: hidden;
          img {
            transition: 1s;
            display: block;
          }
          img:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

// 800
@media screen and (max-width: 800px) {
  .brand {
    &-inner {
      &__text {
        h2 {
          font-size: 40px;
          line-height: 45px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

// 768
@media screen and (max-width: 768px) {
  .brand {
    &-inner {
      &__text {
        h2 {
          font-size: 40px;
          line-height: 45px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

// 600
@media screen and (max-width: 600px) {
  .brand {
    width: 100%;
    &-inner {
      flex-direction: column;
      &__text {
        width: 550px;
        text-align: left;
        h2 {
          font-size: 35px;
          line-height: 40px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__img {
        margin-top: 15px;
      }
    }
  }
}

// 480
@media screen and (max-width: 480px) {
  .brand {
    width: 100%;
    &-inner {
      flex-direction: column;
      &__text {
        width: 450px;
        text-align: left;
        h2 {
          font-size: 35px;
          line-height: 40px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__img {
        margin-top: 15px;
        width: 100%;
      }
    }
  }
}

// 320
@media screen and (max-width: 320px) {
  .brand {
    width: 100%;
    &-inner {
      flex-direction: column;
      &__text {
        width: 300px;
        text-align: left;
        h2 {
          font-size: 35px;
          line-height: 40px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &__img {
        margin-top: 15px;
        width: 100%;
      }
    }
  }
}
