<div class="brand">
  <div class="container">
    <div class="brand-inner" data-aos="fade-right">
      <div class="brand-inner__text">
        <h2>True Cloud Web Hosting</h2>
        <p>
          True Cloud Web Hosting All of the hosting packages we offer are
          deployed instantly on our SSD powered cloud. We don’t use dedicated
          servers that operate on single pieces of hardware. Our entire
          infrastructure is built to be reliable, secure, and scalable.
        </p>
      </div>
      <div class="brand-inner__img">
        <ul>
          <li>
            <img src="/img/brand-img-1.webp" alt="brand-img-1" />
          </li>
          <li>
            <img src="/img/brand-img-2.webp" alt="brand-img-2" />
          </li>
          <li>
            <img src="/img/brand-img-3.webp" alt="brand-img-3" />
          </li>
          <li>
            <img src="/img/brand-img-4.webp" alt="brand-img-4" />
          </li>
          <li>
            <img src="/img/brand-img-5.webp" alt="brand-img-5" />
          </li>
          <li>
            <img src="/img/brand-img-6.webp" alt="brand-img-6" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
