<!-- hamburger menu -->
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li><a href="#">Продукція</a></li>
      <li><a href="#">Рецепти</a></li>
      <li><a href="#">Про компанію</a></li>
      <li><a href="#">Новини та Акції</a></li>
      <li><a href="#">Контакти</a></li>

      <div class="header-burger__contact">
        <p>0 800 10 10 00</p>
        <a href="tel:0 800 10 10 00">Зворотній зв’язок</a>
      </div>
    </ul>
  </div>
</nav>
<!-- end hamburger -->
