<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-inner__logo" data-aos="fade-left">
        <img src="/img/svg/footer-logo.svg" alt="footer-logo" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,
          purus sit amet luctus venenatis, lectus magna fringilla urna,
          porttitor rhoncus dolor purus non enim praesent elem
        </p>
      </div>
      <div class="footer-inner__menu" data-aos="fade-right">
        <ul>
          <li>
            <h2>Service</h2>
            <a href="#">Domain</a>
            <a href="#">Shared Hosting</a>
            <a href="#">Cloud Hosting</a>
            <a href="#">Private Hosting</a>
          </li>
          <li>
            <h2>Hosting</h2>
            <a href="#">Cheap Hosting</a>
            <a href="#">Hosting Wordpress</a>
            <a href="#">Email Hosting</a>
            <a href="#">Hosting Unlimited</a>
          </li>
          <li>
            <h2>Company</h2>
            <a href="#">About</a>
            <a href="#">Career</a>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <h2>Help</h2>
            <a href="#">FAQ</a>
            <a href="#">Help support</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copy">
      <h2>
        Built by Jeremiah with
        <img src="/img/svg/copy-icon.svg" alt="copy-icon" /> in Lagos. Copyright
        2021
      </h2>
    </div>
  </div>
</footer>
