<header class="header">
  @include('menu.html')
  <div class="container">
    <div class="header-cont">
      @include('create-account.html')
      <div class="header-cont__text">
        <div class="header-cont__tab">
          <button class="header-btn__tab" type="button">Hosting</button>
          <button class="header-btn__tab" type="button">Domain</button>
          <button class="header-btn__tab" type="button">SEO</button>
          <button class="header-btn__tab" type="button">Email</button>
        </div>
        <!---Tab Hosting-->
        <div class="header-cont__info active">
          <h1>Premium Web Hosting for Your Website</h1>
          <p>
            Blazing fast web hosting for individuals and businesses of all sizes
            backed by 24x7x365 Support.
          </p>
        </div>
        <!---Tab Domain-->
        <div class="header-cont__info">
          <h1>True Cloud Web Domain</h1>
          <p>
            True Cloud Web Hosting All of the hosting packages we offer are
            deployed instantly on our SSD powered cloud. We don’t use dedicated
            servers that operate on single pieces of hardware. Our entire
            infrastructure is built to be reliable, secure, and scalable.
          </p>
        </div>
        <!---Tab Seo-->
        <div class="header-cont__info">
          <h1>We serve over 100 Nigerian Seo</h1>
          <p>
            Connect LemonWares with your favourite tools that you use daily and
            keep things on track.
          </p>
        </div>
        <!---Tab Email-->
        <div class="header-cont__info">
          <h1>Real Stories from Real Email</h1>
          <p>
            Blazing fast web hosting for individuals and businesses of all sizes
            backed by 24x7x365 Support.
          </p>
        </div>

        <div class="header-cont__link">
          <button class="header-btn__create" id="createBtn">
            Create an Account
          </button>
          <a href="#pricing" class="header-btn__plan">Choose your plan</a>
        </div>
      </div>
      <div class="header-cont__img">
        <img src="/img/header-img.webp" alt="header-img" />
        <span></span>
      </div>
    </div>
  </div>
</header>
