<div class="menu">
  <div class="container">
    <div class="menu-inner">
      <div class="menu-inner__logo">
        <img src="/img/svg/logo.svg" alt="logo" />
      </div>
      @include('burger.html')
      <button class="menu-inner__service">Our Services</button>
      <nav class="menu-inner__menu">
        <ul>
          <li>
            <a href="#about">About </a>
          </li>
          <li>
            <a href="#blog">Blog&News </a>
          </li>
          <li>
            <a href="#contact">Contact </a>
          </li>
        </ul>
      </nav>
      <button class="menu-inner__account">Account</button>
      <span class="menu-inner__el">|</span>
      <div class="menu-inner__phone">
        <img src="/img/svg/phone-icon.svg" alt="phone-icon" />
        <a
          href="tel:+2349067322844
        "
        >
          +2349067322844
        </a>
      </div>
    </div>
  </div>
</div>
