<div class="pricing" id="pricing">
  <div class="container">
    <div class="pricing-inner" data-aos="fade-right">
      <div class="pricing-inner__title">
        <h2>Ready to get started with Lemon Wares?</h2>
        <p>Choose the package that suits you</p>
        <div class="pricing-inner__btn">
          <p>Monthly</p>
          <label class="pricing-inner__switch">
            <input type="checkbox" />
            <span class="pricing-inner__slider round"></span>
          </label>
          <h3>Yearly</h3>
          <span>20% discount</span>
        </div>
      </div>
      <div class="pricing-inner__sale">
        <button class="active">Basic</button>
        <button>Premium</button>
      </div>
      <div class="pricing-card">@include('pricing-card.html')</div>
    </div>
  </div>
</div>
