<div class="pricing">
  <div class="container">
    <div class="pricing-inner">
      <div class="pricing-inner__title">
        <h2>Ready to get started with Lemon Wares?</h2>
        <p>Choose the package that suits you</p>
        <div class="pricing-inner__btn">
          <p>Monthly</p>
          <label class="pricing-inner__switch">
            <input type="checkbox" />
            <span class="pricing-inner__slider round"></span>
          </label>

          <h3>Yearly</h3>
          <span>20% discount</span>
        </div>
      </div>
    </div>
  </div>
</div>
