<div class="card" data-aos="fade-left">
  <ul>
    <!--Card 1-->
    <li>
      <div class="card-title">
        <h2>Starter</h2>
        <p>
          with all your customers via all conversation channels in one central
          dashboard.
        </p>
        <strong>$2.80</strong>
        <span>Per month</span>
        <button>Choose this Plan</button>
      </div>
      <div class="card-list">
        <p>2GB SSD</p>
        <p>10GB Bandwidth</p>
        <p>15 Email Accounts</p>
        <p>Unlimited Database</p>
        <p>4 Subdomains</p>
        <p>1 Parked Domain</p>
        <p>2 Websites</p>
        <p>Free SSL</p>
        <p>Softaculous</p>
      </div>
    </li>
    <!--Card 2-->
    <li>
      <div class="card-title">
        <h2>Standard</h2>
        <p>
          with all your customers via all conversation channels in one central
          dashboard.
        </p>
        <strong>$4.20</strong>
        <span>Per month</span>
        <button>Choose this Plan</button>
      </div>
      <div class="card-list">
        <p>2GB SSD</p>
        <p>10GB Bandwidth</p>
        <p>15 Email Accounts</p>
        <p>Unlimited Database</p>
        <p>4 Subdomains</p>
        <p>1 Parked Domain</p>
        <p>2 Websites</p>
        <p>Free SSL</p>
        <p>Softaculous</p>
      </div>
    </li>
    <!--Card 3-->
    <li>
      <div class="card-title">
        <h2>Suprem</h2>
        <p>
          with all your customers via all conversation channels in one central
          dashboard.
        </p>
        <strong>$7.00</strong>
        <span>Per month</span>
        <button>Choose this Plan</button>
      </div>
      <div class="card-list">
        <p>2GB SSD</p>
        <p>10GB Bandwidth</p>
        <p>15 Email Accounts</p>
        <p>Unlimited Database</p>
        <p>4 Subdomains</p>
        <p>1 Parked Domain</p>
        <p>2 Websites</p>
        <p>Free SSL</p>
        <p>Softaculous</p>
      </div>
    </li>
  </ul>
</div>
