<div class="real">
  <div class="container">
    <div class="real-inner" data-aos="fade-right">
      <div class="real-text">
        <div class="real-text__title">
          <h2>Real Stories from Real Customers</h2>
          <p>Get inspired by these stories.</p>
        </div>
        <div class="real-text__card">
          <ul>
            <li data-aos="fade-right">
              <img src="/img/real-img-1.webp" alt="real-img-1" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                aliquam, purus sit amet luctus venenatis, lectus magna fringilla
                urna, porttitor rhoncus dolor purus non enim praesent elem
              </p>
              <h2>Floyd Miles</h2>
              <span>Vice President, CLI</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="real-card">
        <ul>
          <li class="real-card__jpnl">
            <img src="/img/real-img-2.webp" alt="real-img-2" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
              aliquam, purus sit amet luctus venenatis, lectus magna fringilla
              urna, porttitor rhoncus dolor purus non enim praesent elem
            </p>
            <h2>Jane Cooper</h2>
            <span>CEO, JPNL</span>
          </li>
          <li class="real-card__leeve" data-aos="fade-left">
            <img src="/img/real-img-3.webp" alt="real-img-3" />
            <p>LemonWares saved our time in Hosting my company page.</p>
            <h2>Kristin Watson</h2>
            <span>Co-Founder, LeeveOn Branding</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="real-brand">
      <div class="real-brand__text">
        <h2>We serve over 100 Nigerian Websites</h2>
        <p>
          Connect LemonWares with your favourite tools that you use daily and
          keep things on track.
        </p>
      </div>
      <div class="real-brand__img">
        <ul>
          <li>
            <img src="" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
