<div class="whyus">
  <div class="container">
    <div class="whyus-inner" data-aos="fade-left">
      <ul>
        <li>
          <div class="whyus-inner__box">
            <img src="/img/svg/whyus-icon-1.svg" alt="whyus-icon-1" />
            <h2>99.9% Uptime</h2>
            <p>
              We Keep Your Web build Online 24x7x365. Downtime not only costs
              you lost visitors but also damages your reputation and search
              engine rankings.
            </p>
          </div>
        </li>
        <li>
          <div class="whyus-inner__box">
            <img src="/img/svg/whyus-icon-2.svg" alt="whyus-icon-2" />
            <h2>Blazing Fast Web Hosting</h2>
            <p>
              We Keep Your Web build Online 24x7x365. Downtime not only costs
              you lost visitors but also damages your reputation and search
              engine rankings.
            </p>
          </div>
        </li>
        <li>
          <div class="whyus-inner__box">
            <img src="/img/svg/whyus-icon-3.svg" alt="whyus-icon-3" />
            <h2>Free SSL Certificates</h2>
            <p>
              We Keep Your Web build Online 24x7x365. Downtime not only costs
              you lost visitors but also damages your reputation and search
              engine rankings.
            </p>
          </div>
        </li>
        <li>
          <div class="whyus-inner__box">
            <img src="/img/svg/whyus-icon-4.svg" alt="whyus-icon-4" />
            <h2>924x7 Friendly Support</h2>
            <p>
              We Keep Your Web build Online 24x7x365. Downtime not only costs
              you lost visitors but also damages your reputation and search
              engine rankings.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
